{% extends "base.html" %}

{% block content %}
<center><h2>База данных космических объектов</h2></center>
<a href="news" class="btn btn-secondary">-> Записки астронома</a>
{% if current_user.is_authenticated %}
    <a href="add_system" class="btn btn-secondary">Добавить систему</a>
{% endif %}
{% for item in systems %}
<center><table cellpadding="8">
    <tr>
         <td><center><h4>{{item.name}} ({{item.galaxy}})</h4></center></td>
    </tr>
    <tr/>
        <td style="background-color: #D3D3D3">№</td>
        <td style="background-color: #D3D3D3">Название объекта</td>
        <td style="background-color: #D3D3D3">Тип</td>
        <td style="background-color: #D3D3D3">Расстояние до Звезды, а.е.</td>
        <td style="background-color: #D3D3D3">Период обращения (в земных годах)</td>
        <td style="background-color: #D3D3D3">Эксцентриситет</td>
        <td style="background-color: #D3D3D3">Орбитальная скорость, км/с</td>
        <td style="background-color: #D3D3D3">Плотность, x10^3 кг/м^3</td>
        <td style="background-color: #D3D3D3">Ускорение свободного падения, м/с^2</td>
        <td style="background-color: #D3D3D3">Масса (в массах Земли)</td>
        <td style="background-color: #D3D3D3">Количество спутников</td>
    </tr>
    {% for system_item in item.space_objects%}
        <tr>
            <td style="background-color: #dfe6f3">
                <center>{{system_item.id}}</center>
            </td>
            <td style="background-color: #dfe6f3">
                <center>{{system_item.name}}</center>
            </td>
            <td style="background-color: #dfe6f3">
                <center>{{system_item.space_type}}</center>
            </td>
            {% if system_item.radius%}
            <td style="background-color: #dfe6f3">
                <center>{{system_item.radius}}</center>
            </td>
            {% else %}
            <td style="background-color: #dfe6f3">
                <center>–</center></td>
            {% endif %}
            {% if system_item.period%}
            <td style="background-color: #dfe6f3">
                <center>{{system_item.period}}</center>
            </td>
            {% else %}
            <td style="background-color: #dfe6f3">
                <center>–</center></td>
            {% endif %}
            {% if system_item.ex%}
            <td style="background-color: #dfe6f3">
                <center>{{system_item.ex}}</center>
            </td>
            {% else %}
            <td style="background-color: #dfe6f3">
                <center>–</center></td>
            {% endif %}
            {% if system_item.v%}
            <td style="background-color: #d4ffb2">
                <center>{{system_item.v}}</center>
            </td>
            {% else %}
            <td style="background-color: #ffe6ff">
                <center>–</center>
            </td>
            {% endif %}
            {% if system_item.p%}
            <td style="background-color: #d4ffb2">
                <center>{{system_item.p}}</center>
            </td>
            {% else %}
            <td style="background-color: #ffe6ff">
                <center>–</center>
            </td>
            {% endif %}
            {% if system_item.g%}
            <td style="background-color: #d4ffb2">
                <center>{{system_item.g}}</center>
            </td>
            {% else %}
            <td style="background-color: #ffe6ff">
                <center>–</center>
            </td>
            {% endif %}
            {% if system_item.m%}
            <td style="background-color: #d4ffb2">
                <center>{{system_item.m}}</center>
            </td>
            {% else %}
            <td style="background-color: #ffe6ff">
                <center>–</center>
            </td>
            {% endif %}
            {% if system_item.sputnik%}
            <td style="background-color: #d4ffb2">
                <center>{{system_item.sputnik}}</center>
            </td>
            {% else %}
            <td style="background-color: #ffe6ff">
                <center>–</center>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    <tr>
        <td>
        {% if current_user.is_authenticated and (current_user == item.user or current_user.id == 1) %}
        <div>
            <a href="/add_space_object/{{ item.id }}" class="btn btn-warning">
                Add space object
            </a>
            <a href="/edit_space_system/{{ item.id }}" class="btn btn-warning">
                Edit system
            </a>
        </div>
        {% endif %}
        </td>
    <tr>
</table>
</center>
{% endfor %}
{% endblock %}