{% extends "base.html" %}

{% block content %}
<h1>Записки астронома</h1>
<a href="database" class="btn btn-secondary">–> База данных</a>
{% if current_user.is_authenticated %}
    <a href="add_news" class="btn btn-secondary">Добавить запись</a>
{% endif %}
{% for item in news%}
<div class="col-md6 border rounded" style="margin-top:10px">
    <h2>{{item.title}}</h2>
    <div style="margin-top:5px;margin-bottom:5px">
        {{item.content}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/edit_news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/delete_news/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    <div>
        Автор – {{item.user.name}}, Дата написания – {{item.created_date.strftime('%d.%m.%Y, %H:%M')}}
    </div>
</div>
{% endfor %}
{% endblock %}