<!-- Шаблон для страницы добавления/редактирования космического объекта -->
{% extends "base.html" %}

{% block content %}
<h1>Добавление космического объекта</h1>
<form action="" method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.space_type.label }}<br>
        {{ form.space_type(class="form-control") }}<br>
        {% for error in form.space_type.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.radius.label }}<br>
        {{ form.radius(class="form-control") }}<br>
        {% for error in form.radius.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.period.label }}<br>
        {{ form.period(class="form-control") }}<br>
        {% for error in form.period.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.ex.label }}<br>
        {{ form.ex(class="form-control") }}<br>
        {% for error in form.ex.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.v.label }}<br>
        {{ form.v(class="form-control") }}<br>
        {% for error in form.v.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.p.label }}<br>
        {{ form.p(class="form-control") }}<br>
        {% for error in form.p.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.g.label }}<br>
        {{ form.g(class="form-control") }}<br>
        {% for error in form.g.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.m.label }}<br>
        {{ form.m(class="form-control") }}<br>
        {% for error in form.m.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.sputnik.label }}<br>
        {{ form.sputnik(class="form-control") }}<br>
        {% for error in form.sputnik.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.atmosphere.label }}<br>
        {{ form.atmosphere(class="form-control") }}<br>
        {% for error in form.atmosphere.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.about.label }}<br>
        {{ form.about(class="form-control") }}<br>
        {% for error in form.about.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.image.label }}<br>
        {{ form.image(class="form-control") }}<br>
        {% for error in form.image.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    {% if image %}
    <img src="{{image}}" class="card-img-top" alt="...">
    {% endif %}
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}